.app .command-prompt {
    height: 51px;
    left: 21px;
    position: absolute;
    top: 439px;
    width: 523px;
  }
  
  .app .overlap-group-2 {
    background: linear-gradient(120deg, #713e55 0%, #b15982 100%);
    border-radius: 20px;
    box-shadow: 0px 4px 4px 1px #00000040;
    height: 51px;
    position: relative;
    width: 521px;
  }
  
  .app .text-wrapper {
    background: none;
    border: none;
    outline: none;
    color: #ffffff;
    font-family: "Outfit", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 65px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 14px;
    width: 401px;
  }
  
  .app .icon-outline-paper {
    height: 20px !important;
    left: 477px !important;
    position: absolute !important;
    top: 13px !important;
    width: 20px !important;
    cursor: pointer;
    transition: .5s;
    scale: 1.2;
  }
  
  .app .sound-icon-instance {
    height: 22px !important;
    left: 18px !important;
    position: absolute !important;
    top: 14px !important;
    width: 24px !important;
  }
  
  .app .design-component-instance-node {
    height: 22px !important;
    width: 3px !important;
  }
  
  .app .sound-icon-2 {
    height: 22px !important;
    left: 5px !important;
    width: 3px !important;
  }
  
  .app .sound-icon-3 {
    height: 22px !important;
    left: 11px !important;
    width: 3px !important;
  }
  
  .app .sound-icon-4 {
    height: 22px !important;
    left: 16px !important;
    width: 3px !important;
  }
  
  .app .sound-icon-5 {
    height: 22px !important;
    left: 21px !important;
    width: 3px !important;
  }