.loading-icon{
    width: 40px;
    height: 40px;
    animation: ring 1s linear infinite;
    margin-left: 150px;
}
@keyframes ring {
  0%{
    transform: rotate(0deg);
  }
  50%{
    transform: rotate(180deg);
  }
  100%{
    transform: rotate(360deg);
  }
}