.app {
  background-color: #321724;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-top: -15px;
}

.app .div-2 {
  height: 620px;
  position: relative;
  width: 600px;
}

.app .operation {
  height: 514px;
  left: 19px;
  position: absolute;
  top: 86px;
  width: 561px;
}

.app .overlap {
  border-radius: 20px;
  height: 514px;
  position: relative;
}

.app .operations {
  border-radius: 20px;
  height: 514px;
  left: 0;
  position: absolute;
  top: 0;
  width: 561px;
}

.app .line-instance {
  opacity: 60%;
  height: 506px !important;
  left: 89px !important;
  position: absolute !important;
  top: 3px !important;
  width: 408px !important;
}

.glow-container {
  position: relative;
  top: 15px;
  left: 16px;
  display: inline-block;
  width: 40px;
  height: 36px;
  overflow: hidden;
  border-radius: 100%; /* Opcjonalnie zaokrąglone rogi */
}

.glow-modal {
  width: 100vw;
  top: 0;
  left: 0;
  position: absolute;
  height: 100vh;
  background-color: #000000a3;
  border-radius: 0;
  transition: .5s;
}

.glow-effect {
  position: absolute;
  top: -50%; /* Rozpoczynamy animację od lewego dolnego końca */
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(45deg, #ffffff00 30%, #ffffff81 50%, #ffffff00 70%);
  transform: rotate(45deg);
  animation: glow 2s infinite;
  opacity: 0.7; /* Zmniejszona przezroczystość dla bardziej subtelnego efektu */
}

@keyframes glow {
  0% {
      transform: translate(-50%, 50%) rotate(45deg); /* Początek animacji */
  }
  100% {
      transform: translate(50%, -50%) rotate(45deg); /* Koniec animacji */
  }
}

.icon-modal {
  transition: .5s;
  position: absolute;
  top: 32.5%;
  left: 32.5%;
  width: 200px;
  height: 200px;
}

.glow-modal-container {
  transition: .5s;
  z-index: 2;
  position: absolute;
  top: 33%;
  left: 33.5%;
  width: 190px;
  height: 190px;
}

.light-background {
  background: #e1a1b0cd;
}

.light-container {
  background-color: #fcb8d1;
}

.light-el {
  background-color: #E1A1B0;
}


.dark-background {
  background-color: #321724;
}

.dark-container {
  background-color: #462534;
}

.dark-el {
  background-color: #763754;
}

.light {
  color: #fff;
}

.dark {
  color: #000;
}