.sound-icon {
    margin-top: 5px;
    transition: .5s;
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 3px;
    margin-left: 10px;
    width: 80px;
  }

  .sound-line {
    transition: .5s;
    width: 5px;
    border-radius: 30px;
    background-color: #bd157a;
  }

  .white-sound-line {
    transition: .5s;
    background-color: #fff;
  }

  .h-10 {
    height: 10px;
  }

  .h-15 {
    height: 15px;
  }

  .h-20 {
    height: 20px;
  }

  .h-25 {
    height: 25px;
  }

  .sound-icon:hover {
    transition: .5s;
    color: #fff;
  }

  .sound-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .sound-btn {
    position: relative;
    right: 40px;
  }

  .active-sound-btn {
    color: #fff;
}