.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 5vh;
}

.form-input {
    width: 30vw;
    font-size: 16px;
    padding-left: 35px;
}

.email {
    display: flex;
    align-items: center;
    justify-content: center;
}

.password {
    display: flex;
    align-items: center;
    justify-content: center; 
}

.password-ico {
    margin-right: -30px;
    margin-bottom: 5px;
    width: 30px;
    height: 30px;
}

.email-ico {
    margin-right: -30px;
    margin-bottom: 5px;
    width: 30px;
    height: 30px;
}

.eye-ico {
    cursor: pointer;
    margin-left: -30px;
    margin-bottom: 5px;
    width: 30px;
    height: 30px;
}

.login-submit {
    cursor: pointer;
    transition: .5s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 20px;
    background: none;
    margin-top: 10px;
    border: 3px solid #bd157a;
    color: #bd157a;
    border-radius: 100%;
    padding: 9px;
}

.login-submit:hover {
    transition: .5s;
    transform: translateY(-2.5px);
    border: 3px solid #fff;
    color: #fff;
}

.submit-send {
    width: 30px;
    height: 30px;
}