/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  position: relative;
  color: #bd157a;
  height: 100vh;
  background: linear-gradient(
    200.96deg,
    #fedb2a -29.09%,
    #dd57b0 51.77%,
    #7a2c9e 129.35%
  );
  font-family: sans-serif;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .5s;
}

.dark-body {
  background: linear-gradient(
    200.96deg,
    #6d1264 -29.09%,
    #000000 51.77%,
    #3386c2 129.35%
  );
}

::selection {
  background-color: #b40e71;
  color: #cb78aa;
}

.bulb-light {
  transition: .5s;
  width: 10px;
  height: 10px;
  border-radius: 40px;
}

.bulb-ok {
  background-color: #88f788;
  box-shadow: 0 0 20px #88f788;
}

.bulb-error {
  background-color: #ff5555;
  box-shadow: 0 0 20px #ff5555;
}