@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    position: relative;
    height: 100vh;
    font-family: sans-serif;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #00000057;
    border-radius: 50px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #865e72;
    height: 10px;
    border-radius: 50px;
  }